<div class="books-container">
  <div class="author-header">
    <h3>Livros de {{ authorName }}</h3>
    <p class="author-genre">{{ authorGenre }}</p>
  </div>
  
  @if (books.length > 0) {
    <div class="books-grid">
      @for (book of books; track book.id) {
        <div class="book-card">
          <div class="book-image">
            <img [src]="'/assets/books/' + book.imageUrl" 
                 [alt]="book.title" 
                 class="book-cover">
          </div>
          <div class="book-info">
            <h4 class="book-title">{{ book.title }}</h4>
            <p class="book-genre">{{ book.genre }}</p>
            <p class="book-summary">{{ book.summary }}</p>
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="no-books">
      <p>Nenhum livro encontrado para este autor.</p>
    </div>
  }
</div>